/* cards */
.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
    padding: 1rem;
    
}
.interest-card  {
    display: grid;
    grid-template-areas:
      "image name"
      "image address"
      "image button"
      "fig button";
    gap: 0.5rem 1rem;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .interest-card img {
    display: grid;
    grid-area: image;
    width: 200px;
    height: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .interest-card h2 {
    grid-area: name;
    margin: 0;
    font-size: 1.5rem;
  }
  
  .interest-card p {
    grid-area: address;
    margin: 0;
    color: #555;
  }
  
  .interest-card figcaption {
    grid-area: fig;
    font-size: 16px;
    font-weight: bold;
    color:black;
    margin-top: 0.5rem;
  }

  .interest-card button {
    grid-area: button;
    justify-self: center; 
    padding: 10px; 
    font-size: 0.9rem; 
    height: 50px;
    background-color: #004b6e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .interest-card button:hover {
    background-color: #007bb8;
  }

  @media (min-width:641px) {
    div.interest-card img:hover {
        border-radius: 15px 150px;
      }
  }
 

  .interest-card h2,
  .interest-card p,
  .interest-card figcaption,
  .interest-card button {
    align-self: center;  
    justify-self: center; 
    text-align: center; 
  }

/* modal */
dialog#pointModal {
    width: 90%;
    max-width: 500px;
    border: none;
    border-radius: 10px;
    padding: 2rem 1.5rem 1.5rem;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: left;
    margin: 0; 
    box-sizing: border-box;
  }
  
  dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
  }
  
  #closeModal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
  }
  
  #modalTitle {
    margin-top: 0;
  }

  p#modalAddress {
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
  }

  p#modalDescription {
    margin-top: 15px;
    font-size: 20px;
  }

  /* visit message */
  .sidebar-message {
    padding: 1rem;
    background-color:  #BDBBB6;
    margin: 1rem 0;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
  }
  
  