:root {
    --primary-color: #839788;
    --secondary-color: #BDBBB6;
    --font-family: 'Roboto', sans-serif;
}
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.hero_img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* Call to action */

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.cta {
    position: absolute;
    top: 120px;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.cta h2 {
    font-size: 20px;
    padding: 8px;
    margin-bottom: 10px;
    color: black;
    background-color: var(--primary-color);
    width: 180px;
    margin-left: 17px ;
    border-radius: 5px;
}

.cta button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px ;
}

/* current events */

.section-h2  {
    display: flex;
    font-size: 30px;
    justify-content: center;  
    align-items: center; 
    padding: 20px;
    background-color: var(--primary-color);
  }
  

.events-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .event-card {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* weather */
  #weather-wrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  #weather-current {
    flex: 1;
    min-width: 250px;
  }
  
  .forecast-grid {
    flex: 1;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 250px;
  }
  
  .forecast-day {
    display: flex;
    font-size: 25px;
    background-color: #f0f0f0;
    padding: 1rem 2rem;
    justify-content: space-between;
    text-align: center;
    flex: 1 1 30%;
    min-width: 100px;
    width: 100%;
    max-width: 600px;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
  }
  
  

  

