:root {
    --primary-color: #839788;
    --secondary-color: #BDBBB6;
    --font-family: 'Roboto', sans-serif;
}
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.hero_img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}


/* Call to action */

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.cta {
    position: absolute;
    top: 120px;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.cta h2 {
    font-size: 20px;
    padding: 8px;
    margin-bottom: 10px;
    color: black;
    background-color: var(--primary-color);
    width: 180px;
    margin-left: 17px ;
    border-radius: 5px;
}

#join-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
#join-button:hover {
  background-color: #aaa; 
}

/* current events */

.section-h2  {
    display: flex;
    font-size: 30px;
    justify-content: center;  
    align-items: center; 
    padding: 20px;
    background-color: var(--primary-color);
  }
  

.events-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 30px;
  }
  
  .event-card {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* weather */
  #weather-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }
  
  #weather-current {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

  }
  
  .forecast-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .forecast-day {
    display: flex;
    font-size: 25px;
    background-color: #f0f0f0;
    padding: 1rem 2rem;
    justify-content: space-between;
    text-align: center;
    flex: 1 1 30%;
    min-width: 100px;
    width: 100%;
  }


  h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  #weather-current p {
    font-size: 25px;
    margin: 0.5rem 15px;
    text-align: center;
  }

  figcaption {
    font-size: 25px;
    text-align: center;
    margin-top: 0.5rem;
    color: #555;
  }

  #weather-icon {
    width: 100px;
    height: 100px;
    
  }

  /* member spotlight */

  #spotlights {
    margin: 2rem 0;
    text-align: center;
  }
  
  .spotlight-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .spotlight-card {
    background-color: #f4f4f4;
    padding: 1rem;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .spotlight-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .spotlight-card img {
    width: 150px;   
    height: 150px;       
    object-fit: cover;  
    border-radius: 10px;
    display: block;
    margin: 0 auto;     
  }
  
  


  

