/* modal cards */
main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  form {
    flex: 1 1 300px;
  }
  
  .membership-cards {
    display: flex;
    flex: 1 1 300px;
    flex-direction: column;
    gap: 1rem;
  }
  
  .membership-card {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .membership-card h3 {
    margin-top: 0;
  }
  
  .membership-card button {
    margin-top: 0.5rem;
  }
  
  