@media only screen and (min-width: 500px) {
   :root {
      --primary-color: #839788;
      --secondary-color: #BDBBB6;
      --font-family: 'Roboto', sans-serif;
  }
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: var(--font-family);
  }

  header, main, nav, footer {
   max-width: 1000px;
   margin: 0 auto;
 }
   ul.menuLinks, ul.menuLinks.open  {
    display: flex;
    justify-content: flex-end;
   gap: 2rem;
   background-color: var(--primary-color);
   }
  
   #myButton {
      display: none;
   }
    ul li {
      background-color:var(--primary-color);
  }
}

