@media only screen and (min-width: 500px) {
   :root {
      --primary-color: #839788;
      --secondary-color: #BDBBB6;
      --font-family: 'Roboto', sans-serif;
  }
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: var(--font-family);
  }

  header, main, nav, footer {
   max-width: 1000px;
   margin: 0 auto;
 }
   ul.menuLinks, ul.menuLinks.open  {
    display: flex;
    justify-content: flex-end;
   gap: 2rem;
   background-color: var(--primary-color);
   }
  
   #myButton {
      display: none;
   }

   .view-toggle {
      display: flex;
      justify-content: center;
      margin: 1rem 0;
      height: 40px;
      gap: 1rem;
    }
  
    .view-toggle button {
      width: 120px;         
      padding: 0.5rem 1rem;  
      font-size: 20px;
      border: none;
      border-radius: 6px;
      background-color: var(--secondary-color);
      color: #333;
      cursor: pointer;
      
    }
    
    .view-toggle button:hover {
      background-color: var(--primary-color);
      color: #fff;
    }
  
    ul li {
      background-color:var(--primary-color);
  }
}

