@media screen and (min-width: 641px) and (max-width: 1024px) {
    
    .card-container {
        grid-template-columns: 1fr;
      }
    
      .interest-card {
        grid-template-areas:
          "image name"
          "image address"
          "image button"
          "fig button";
          align-items: center; 
      }

        .interest-card h2,
        .interest-card p,
        .interest-card button {
          justify-self: center;  
          text-align: center;   
        }
      }