@media (max-width: 640px) {
    .card-container {
        grid-template-columns: 1fr;
      }
    
      .interest-card {
        grid-template-columns: 1fr;
        grid-template-areas:
          "name"
          "image"
          "fig"
          "address"
          "button";
          justify-items: center; 
          text-align: center; 
      }
    
      .interest-card img {
        width: 200px;
        height: 250px;
      }

      div.interest-card img:hover { 
        transition: none;
    }
    
    /* modal */
    dialog#pointModal {
      width: 95%;
      padding: 1.5rem 1rem 1rem;
    }
  
    #closeModal {
      top: 0.75rem;
      right: 0.75rem;
    }

    .interest-card h2,
    .interest-card p,
    .interest-card button {
     max-width: 90%;
    }

    #modalTitle,
    #modalAddress,
    #modalDescription {
    text-align: center;
    }

  }