/* tabs */
.tabs-container {
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }
  
  .tab-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .tab-buttons button {
    background-color: var(--primary-color);
    color: black;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .tab-buttons button:hover
   {
    background-color: var(--secondary-color);
  }
  
  .tab-content {
    display: none;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: black;
  }
  
  .tab-content h2 {
    color: #7b9e87;
    margin-top: 0;
  }
  
  .tab-content ul {
    list-style: none;
    padding-left: 0;
  }
  
  .tab-content li {
    margin-bottom: 0.75rem;
    font-size: 1.05rem;
  }
  
  #about {
    width: 100%;
    max-width: 800px;
    font-size: 20px;

  }

  .tab-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    line-height: 1.5;
    font-size: 30px;
    margin-bottom: 80px;
  }

  .tab-content-container h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--background-color);
  }

  .tab-content-container li {
    background-color: transparent !important;
    font-size: 20px;
  }

  /* profile */
    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem;
       
       
    }

    h1 {
        color: var(--secondary-color);
        font-size: 3rem;
        margin-bottom: 1rem;
        width: 100%;
    }

    @media only screen and (max-width: 440px) {
        .profile img {
            margin: 1rem;
            width: 290px;
        }
        
    }

    #typewriter-container {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1rem;
      box-sizing: border-box;
    }

    #typewriter {
      overflow: hidden; 
      white-space: wrap;
      border-right: 3px solid #6b8e23; 
      width: 100%;
      animation: typing 3s steps(30, end) forwards, blink 0.75s step-end infinite;
      font-size: 2rem;
      font-family: monospace;
      color: #333;
      margin: 2rem auto;
      text-align: center;
    }
    
    @keyframes typing {
      from { width: 0; }
      to { width: 100%; }
    }
    
    @keyframes blink {
      0%, 100% { border-color: transparent; }
      50% { border-color: #6b8e23; }
    }
     