h1 {
    text-align: center;
    margin: 20px 0;
   font-size: 35px;
   padding: 2rem;
   
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 60px;
  }
  
  .plant-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    background-color: #fdfdfd;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .card-container img {
    width: 100%;      
    height: 300px;     
    object-fit: cover; 
    display: block;
    border-radius: 0.5rem; 
    margin: 10px;
  }
  

  dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    line-height: 1.5;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    max-width: 90%;
    width: 400px;
    z-index: 1000;
  }
  
  
  button {
    background-color: var(--background-color);
    color: white;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
  }

  button:hover {
    background-color: var(--primary-color);
    color: white;
  }

  #filters {
    display: flex;
    width: 100%;
   justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  
  @media  screen and (max-width: 650px) {
    #filters {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }